
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');



.containerText
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 25px;
}

.heading
{
    /* font-family: "Cedarville Cursive", cursive; */
    font-size: 32px;
    font-family: 'ReadexPro';
    font-weight: 200;
    text-align: left;
}

.subText
{
    /* font-family: "Cedarville Cursive", cursive; */
    font-family: 'ReadexPro';
    font-size: 24px;
    width: 40vw;
    font-weight: 100;
    text-align: left;
}

.taskCreateBlock
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 10%;
}


.noTask
{
    font-family: 'ReadexPro';
    font-weight: 200;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 15%;
}

.container
{
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 300px;
    border-radius: 5px;
}

.createTaskSection
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    height: 25%;
}

.createTaskButton
{
    background-color: transparent;
    border: none;
    margin-right: -6px;
    margin-top: -1.5px;
   
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom-right-radius: 10px;
}



.showTasks
{
    height: 75%;
    background-color: black;
  
}

.createTaskButton:focus
{
    outline: none;
}

.createTaskInput
{
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 37.5px;
    text-align: left;
    padding-left: 10px;
    width: 103%;
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 16px;
}

.createTaskInput:focus
{
    outline: none;
}

.createTaskInput::placeholder
{
    font-size: 12px;
}

.tasks
{
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: auto;
}

.tasks::-webkit-scrollbar
{
    display: none;
    width: none;
}

.deleteTask
{
    background-color: transparent;
    border: none;
}

.deleteTask:focus
{
    outline: none;
}

.taskItem
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.taskDataColumn
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding-left: 10px;
    width: 50vw;
   
}

.projectName
{
    font-family: 'ReadexPro';
    font-weight: 200;
    font-size: 15px;
    color: white;
}

.taskName
{
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 14px;
    color: white;
}





/* developing the responsive design */
@media (min-width: 375px) and (max-width: 430px)
{

    .createTaskSection
    {
        flex-direction: row-reverse;
    }
    .taskCreateBlock
    {
        flex-direction: column;
    }

    .containerText
    {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading
    {
        text-align: center;
        font-size: 32px;
    }

    .subText
    {
        text-align: center;
        width: 87.5vw;
        font-size: 24px;
    }

    /* .createProjectSection
    {
        margin-top: -16px;
    } */
}

@media (min-width: 319px ) and (max-width: 374px)
{

    .createTaskSection
    {
        flex-direction: row-reverse;
    }


    .taskCreateBlock
    {
        flex-direction: column;
    }

    .containerText
    {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading
    {
        text-align: center;
        font-size: 32px;
    }

    .container
    {
        width: 87.5%;
    }

    .subText
    {
        text-align: center;
        width: 87.5vw;
        font-size: 24px;
    }

    /* .createProjectSection
    {
        margin-top: -16px;
    } */
}

@media (max-width: 318px) 
{

    .createTaskSection
    {
        flex-direction: row-reverse;
    }


    .taskCreateBlock
    {
        flex-direction: column;
    }

    .containerText
    {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container
    {
        width: 87.5%;
    }

    .heading
    {
        text-align: center;
        font-size: 32px;
    }

    .subText
    {
        text-align: center;
        font-size: 24px;
    }

    /* .createProjectSection
    {
        margin-top: -16px;
    } */
}