.body {
    font-family: 'ReadexPro';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.512);
    top: 20vh;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;
    padding: 20px;
    background-color: black;



}

.createProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-family: 'ReadexPro';
    font-size: 20px;
    font-weight: 600;
}

.createProject input {
    width: 400px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.227);
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'ReadexPro';
}

.createProject input:focus {
    outline: none;
}

.createProjectHeading {
    font-size: 1.5rem;
    font-weight: 400;
}

.projectsStatus {
    font-family: 'ReadexPro';
    font-size: 24px;
    font-weight: 400;
    
}

.projectsButton {
    display: flex;
    flex-direction: row;
}

.projectsData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.projectMember {
    background-color: white;
    font-family: 'ReadexPro';
    width: 150px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.deleteButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.deleteButton:focus {
    outline: none;
}

.requestButton {
    background-color: transparent;
    color: black;
    font-family: 'ReadexPro';
    width: 150px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.577);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.createButton {
    background-color: black;
    color: white;
    font-family: 'ReadexPro';
    width: 150px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}


.projectButton {
    background-color: black;
    color: white;
    font-family: 'ReadexPro';
    width: 150px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.cancelButton {
    background-color: black;
    border: none;
    border-top-right-radius: 5px;
    width: 60px;
    height: 100%;
}

.projectButtonList {
    background-color: black;
    color: white;
    font-family: 'ReadexPro';
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 25px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.projectList {
    display: flex;
    flex-direction: column;

    gap: 10px;

    height: 300px;
    overflow-y: auto;
    scroll-behavior: auto;
}



.profileImage {

    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    float: left;
}

.NewProjectPopup {
    display: flex;
    flex-direction: column;

    width: 600px;
    height: 300px;

    background-color: white;

    border-radius: 5px;
    font-family: 'ReadexPro';
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 20%;

}

.popupHeaderHeading {
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 20px;
    color: black;
    margin-top: 15px;
    padding-left: 10px;
}

.NewProjectPopupHeader {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    gap: 400px;
}

.NewProjectPopupCloseButton {
    background-color: black;
    border: none;
    border-top-right-radius: 5px;
    width: 60px;
}

.NewProjectInput {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #F4F4F4;
    color: black;
    font-family: 'ReadexPro';
    font-weight: 100;
    padding-left: 10px;
}

.NewProjectInput {
    outline: none;
    margin-left: 25px;
    margin-top: 50px;
}

.NewProjectCreateButton {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'ReadexPro';
    font-weight: 200;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 95px;
}

.NewProjectCreateButton:focus {
    outline: none;
}


.profileImageDescription {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: last baseline;

    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.userPreferenceButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userPreferenceButton {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: black;
    font-family: 'ReadexPro';
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.577);
}

.preferred {
    background-color: black;
    color: white;
}

.projectName::placeholder {
    font-size: 14px;
}


.joinProjectButtons {
    display: flex;
    flex-direction: row;
}



.showRequestsDialog {
    height: 300px;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.31);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    z-index: 999;
    background-color: white;
    top: 20vh;
    position: absolute;
}

.showRequestHeader {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.249);
    gap: 381px;
    height: 20%;
}

.showRequestHeaderHeading {
    color: black;
    font-size: 20px;
    font-family: 'ReadexPro';
    padding-left: 10px;
    font-weight: 100;
    padding-top: 10px;
}


.requestsData {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 200px;
    max-height: 200px;
    margin-top: 25px;
    overflow-y: auto;
    scroll-behavior: auto;
    align-items: center;
}


.requestsData::-webkit-scrollbar {
    display: none;
}


.requestsData {
    scrollbar-width: none;
}

.requestDataRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 400px;
    padding-left: 10px;
    padding-top: 15px;

}

.requestDataRowName {
    font-family: 'ReadexPro';
    font-weight: 200;
    width: 200px;
    font-size: 20px;
    color: black;
    max-width: 200px;
}

.Accepted {
    background-color: #84ffcc6a;
}

.Waiting {
    background-color: #F8F8F8;
}




.successfullyInvited {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90%;
    top: -25%;
    color: white;
    float: right;
    text-align: center;
    font-family: 'ReadexPro';
    animation: successfulInvite 1s 1;
    z-index: 999;
}

@keyframes successfulInvite {
    from {

        top: -25%;
        left: 90%;
    }

    to {

        top: 20%;
        left: 90%;
        display: flex;
    }
}

@media (max-width: 425px) {

    .body {

        top: 20vh;
        position: relative;
        width: 87.5vw;


    }


    .createProject {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .createProject input {
        width: 100%;
        height: 50px;
        font-size: 1.2rem;
    }

    .projectsData {

        justify-content: center;
        align-items: center;
    }

    .projectsStatus {
        font-family: 'ReadexPro';
        font-size: 1rem;
        font-weight: 200;
        text-align: center;
    }

    .projectsButton {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .userPreferenceButton {
        width: 100px;
        height: 50px;
        background-color: transparent;
        color: black;
        font-family: 'ReadexPro';
        border: 0.5px solid white;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.577);
    }

    .createProjectHeading {
        font-weight: 200;
        font-size: 1.2rem;
    }

    .createButton {
        width: 100%;
        font-weight: 400;
        border: 0.5px solid white;
    }

    .createProject::placeholder {
        padding-left: 5px;
    }

    .preferred {
        color: white;
        border: 1px solid white;
    }

    .joinProjectButtons {
        display: flex;
        flex-direction: column;
    }

    .requestButton {

        width: 100%;
        height: 50px;
        text-align: center;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);

    }

    .projectName::placeholder {
        font-size: 0.9rem;
    }



    .showRequestsDialog {
        height: 300px;
        width: 87.5vw;
        border: none;
        box-shadow: none;
    }

    .showRequestHeader {

        gap: 10px;

    }

    .showRequestHeaderHeading {
        font-weight: 200;
        font-size: 1.2rem;
        width: 71vw;
        margin-top: 5px;
    }


    .requestsData {

        gap: 0px;

    }


    .requestDataRow {
        gap: 0px;
    }

    .requestDataRowName {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .deleteButton {
        margin-top: 5px;
    }


    .NewProjectPopup {
        display: flex;
        flex-direction: column;

        width: 87.5vw;
        height: fit-content;

        background-color: white;

        border-radius: 5px;
        font-family: 'ReadexPro';
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 20vh;

    }

    .popupHeaderHeading {

        font-weight: 200;
        font-size: 20px;

        width: 71vw;
    }

    .NewProjectPopupHeader {

        gap: 10px;
    }

    .NewProjectInput {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }

    .NewProjectCreateButton {

        font-size: 1.5rem;
        margin-top: 0px;
    }

    .projectButton {
        border: 0.5px solid white;
        margin-left: -5px;
    }


}