.TaskData {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.TaskDataColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.TaskRow {
    display: flex;
    flex-direction: row;
    gap: 400px;
}

.creatorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.creatorName {
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 20px;
}

.creatorData {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: last baseline;
}

.taskStatus {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 50px;
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 16px;
    border-radius: 5px;
}

.Task {
    display: flex;
    flex-direction: row;
    gap: 700px;
    justify-content: left;
    align-items: right;
}

.taskheading {
    font-family: 'ReadexPro';
    font-size: 18px;
    font-weight: 400;
}

.taskdata {
    font-family: 'ReadexPro';
    font-size: 15px;
    font-weight: 100;
    margin-top: -10px;
}

.mainContainer {
    padding: 25px;
}

.normalDescription
{
    width: 460px;
}


.downloadButton
{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 50px;
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 25px;
}

@media (max-width: 425px) {
    .creatorData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .TaskRow {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .mobileDescription
    {
        width: 87.5vw;
    }
}