.assignieImage {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-left: -25px;
}

.assignieImageRow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.assignieImageRowData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1000px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.assignieImageRowData:hover .assignieText {
    font-weight: 400;
}

.filesRowData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1000px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.filesRowData:hover .fileRowHeading {
    font-weight: 400;
}

.fileRowHeading {
    font-family: 'ReadexPro';
    font-weight: 200;

    margin-top: 10px;
    transition: 0.3s;
}

.assignieText {
    font-family: 'ReadexPro';
    font-weight: 200;
    margin-top: 10px;
    transition: 0.3s;
}

.headData {
    font-family: 'ReadexPro';
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.headRowData {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 200px;
}

.deadlineData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nodeadlineData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(238, 238, 238, 0.5);
}

.deadline {
    font-family: 'ReadexPro';
    font-weight: 200;
    font-size: 14px;
    margin-top: 10px;


}

.deadlineBox {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 400px;
    height: 50px;

}

.textHeading {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 400px;
    height: 50px;
    padding-left: 10px;
    font-weight: 200;
}

.heading {
    font-size: 20px;
    font-weight: 400;
    font-family: 'ReadexPro';
}

.taskDescription {
    width: 1000px;
    height: 200px;
    max-width: 1000px;
    max-height: 200px;
    min-height: 200px;
    min-width: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    font-family: 'ReadexPro';
    font-weight: 200;

}

.BottomButtonCollection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.updateTaskButton {
    width: 1000px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: black;
    font-family: 'ReadexPro';
    font-weight: 200;
    text-align: center;
    color: white;
    transition: 0.3s;
}

.updateTaskButton:hover {
    font-weight: 400;
}

.fileDialog {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 600px;
    height: 250px;
    font-family: 'ReadexPro';
    position: absolute;
    top: 25%;
    left: 25%;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.fileDialogHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    height: 20%;
    flex-direction: row;
    padding-left: 10px;
    gap: 375px;
    justify-content: left;
    align-items: center;
}

.fileDialogHeaderHeading {
    font-family: 'ReadexPro';
    font-weight: 200;
    margin-top: 10px;
    width: 200px;
    font-size: 20px;
}


.fileDialogCloseButton {
    height: 100%;
    background-color: black;
    border: none;
    width: 100px;
}

.fileRow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: last baseline;
    background-color: rgba(226, 226, 226, 0.376);
    padding: 10px;
    gap: 250px;
}

.fileColumn {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* Optional: smooth scrolling behavior */
    display: flex;
    flex-direction: column;
}

.fileColumn::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


.fileName {
    font-family: 'ReadexPro';
    font-weight: 200;
    width: 250px;
}

.assignieName {
    font-family: 'ReadexPro';
    font-weight: 200;
    width: 250px;
    margin-top: 10px;
}

.fileDeleteButton {
    background-color: transparent;
    border: none;
}

.fileDeleteButton:focus {
    outline: none;
}

.assignieData {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.assignieImage {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.addFileButton {
    background-color: black;
    border: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    height: 40px;
    transition: 0.3s;
}

.addFileButton:focus {
    border: none;
    outline: none;
}

.addFileButton:hover {
    color: white;
}

.noUpdateTaskButton {
    display: none;
}

.noAddFileButton {
    display: none;
}

.noFileToShow {
    text-align: center;
    font-family: 'ReadexPro';
    font-weight: 100;
    font-size: 20px;
    margin-top: 50px;
}

.noDeleteAssigneeButton {
    display: none;
}


@media (max-width: 425px) {
    .headRowData {
        flex-direction: column;
        gap: 10px;
    }

    .heading {
        font-size: 16px;
        font-weight: 200;
        font-family: 'ReadexPro';
    }

    .textHeading {

        width: 87.5vw;

    }


    .textHeading:focus {
        outline: 0.5px solid black;
    }

    .deadlineBox {
        
        width: 87.5vw;
        
    
    }

    .deadline {
        margin-top: 15px;
    }

    .taskDescription {
        width: 87.5vw;
        height: 200px;
        max-width: 87.5vw;
        max-height: 200px;
        min-height: 200px;
        min-width: 87.5vw;
        
    
    }

    .filesRowData {
        
        width: 87.5vw;
        
    }

    .assignieImageRowData {
        
        width: 87.5vw;
        
    }

    .mobileColData
    {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin-left: 15px;
        margin-top: 10px;
    }

    .updateTaskButton {
        width: 87.5vw;
       
    }

    .mobileTaskShowData
    {
        
        scroll-behavior: auto;
        overflow-y: auto;
    }
    

    .fileDialog {
        
        width: 87.5vw;
        height: fit-content;
        
        
        left: 6%;
        top: 25%;
        
        
    }
    
    .fileDialogHeader {
        
        gap: 0px;
        
    }
    
    .fileDialogHeaderHeading {
        
        width: 71vw;
        font-size: 20px;
    }
    
    .fileDialogCloseButton {
        height: 60px;
        border-top-right-radius: 5px;
    }

    .addFileButton {
       width: 100%;
    }
    
    
}