.Task {
    width: 1000px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 10px;
    height: 250px;
    padding: 10px;
    font-family: 'ReadexPro';
}

.TaskCollection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 25px;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: auto;

}

.TaskCollection::-webkit-scrollbar {
    display: none;
}

.creatorImage {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}


.taskTopbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 100px;
}

.assigneeImage {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    z-index: 999;
    margin-left: -25px;
}

.taskAssigneesImages {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: last baseline;
    margin-left: 25px;
}

.AssigneeDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 25px;
}

.taskStatus {
    width: 150px;
    border: none;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    font-size: 18px;
    font-family: 'ReadexPro';
}

.taskTextDescription {
    width: 500px;
    max-width: 500px;
    height: 50px;
    max-height: 50px;
}

.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
    gap: 750px;
}

.deadline {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}


.sideDescriptionTask {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.attachmentButton {
    background-color: black;
    border: none;
    border-radius: 2px;
    font-family: 'ReadexPro';
    z-index: 999;
    width: 100px;
    color: white;
    height: 50px;
}

.attachmentButton:focus {
    outline: none;
}

.filesDialog {
    width: 500px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 100px;
    display: flex;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    font-family: 'ReadexPro';
    border: 1px solid rgba(255, 255, 255, 0.224);
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
}

.filesDialogHeader
{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    gap: 310px;
    padding-left: 0px;
}

.fileDialogHeaderHeading
{
    font-family: 'ReadexPro';
    font-size: 20px;
    margin-left: 20px;
    font-weight: 100;
    width: 100px;
}

.fileDialogBottom
{
    margin-top: 50px;
}

.cancelFileDialogButton
{
    height: 100%;
    width: 75px;
    border-top-right-radius: 10px;
    border: none;
    background-color: black;
}

.fileRow {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f485;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.filesColumn {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-height: 200px;
    overflow-y: hidden;
    scroll-behavior: auto;
}

.filesColumn::-webkit-scrollbar {
    display: none;
}

.invalidDate {
    color: red;
}

.validDate {
    color: rgb(93, 255, 93);
}

.downloadFileButton {
    background-color: transparent;
    border: none;
}

.fileName {
    font-size: 16px;
    font-weight: 100;
    margin-top: 15px;
}

.closeFileDialog {
    width: 400px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'ReadexPro';
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 2px 10px 0px white;
}

.noFileExist
{
    font-family: 'ReadexPro';
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    
}